/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FF6900;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.txt-white {
    color: #fff;
}

/* Navbar */
nav {
    padding: 20px;
    
    ul {
        justify-content: space-between;
        align-items: center;

        a {
            margin: 0 5px;
        }

        #logo {
            height: 30px;
        }
        
        img {
            height: 20px;
            margin: 0 5px;
        }
    }
}

/* Card */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 20px;
}

.card {
    position: relative;
    margin: 50px 0;
    
    img {
        max-width: 100%;
    }
}

.like {
    background-color: #fff;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 310px;

    img {
        padding: 10px;
    }
}

.discount {
    background-color: #ff0000;
    padding: 5px 10px;
    font-size: 0.8rem;
    position: absolute;
    top: 460px;
    left: 0px;
}

.eco-friendly {
    background-color: #008000;
    padding: 5px 15px;
    font-size: 0.8rem;
    position: absolute;
    top: 460px;
    left: 55px;
}

.product-info {
    
    h2 {
        font-size: 1rem;
        font-weight: normal;
    }
    
    .model {
        font-weight: 600;
    }
    
    .price {
        font-size: 0.8rem;
        font-weight: 800;
        color: #ff0000;
        
        del {
            font-weight: normal;
            color: #000;
        }
    }
}